/* **************************************************************************************************************
Common css styling
***************************************************************************************************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  color: inherit;
}
::-webkit-scrollbar{width: 8px; background: var(--bgBluePrimaryColor);}
::-webkit-scrollbar-thumb{background: linear-gradient(var(--bgActionColor), var(--bgBluePrimaryColor)); border-radius: 30px;cursor: pointer;}

:root {
  --bgBluePrimaryColor: #010a5e;
  --bgBlackPrimaryColor: #1a1a1a;
  --textLightColor: #e6e7ec;
  --bgActionColor: #f59b0a;
  --bgActoionHoverColor: #f37d16;
  font-size: 10px;
  scroll-behavior: smooth;
}

.backToTop{
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  background-color: var(--bgActoionHoverColor);
  z-index: 999;
  box-shadow: 0px 2px 10px 5px #e1e4ff66;
  border-radius: 0px 0px 5px 5px;
  display: none;
}

.viewModeColor{
  padding: 15px 0px 5px 20px;
  background: #f37d16ca;
  position: fixed;
  right: -26px;
  bottom: 80px;
  z-index: 998;
  transform: rotate(90deg);
  border-radius: 0px 0px 10px 10px;
   
  & button{
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin-right: 10px;
  }

  .blue{
    background: var(--bgBluePrimaryColor);
  }
  .black{
    background: var(--bgBlackPrimaryColor);
  }
}

.loader{
  width: 100%;
  height: 100vh;
  background: #d7d7d5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;

  & img{
    width: 250px;
    object-fit: contain;
    height: 250px;
  }
}

main >section{
  color: var(--textLightColor);
}

body {
  background: var(--bgBluePrimaryColor);
  color: var(--textLightColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

h2 {
  color: #ffffff;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit !important;
}

ul li {
  list-style: none;
}

.gap {
  gap: 10px;
}

button{
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.actionBtn{
  outline: none;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  min-width: 122px;

  a{
    background: var(--bgActionColor);
    border: none;
    outline: none;
    padding: 10px 20px;
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--bgBluePrimaryColor);
    border-radius: inherit;
    position: relative;
    z-index: 10;

    &:hover{
      color: var(--textLightColor) !important;
    }

    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: var(--bgBluePrimaryColor);
      position: absolute;
      top: -100%;
      left: 0;
      z-index: -1;
      transition: all 0.5s;
    
    }
    &:hover::before{
      top: -2%;
    }
  }
}

.text-center{
  text-align: center;
}

.owl-nav{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  pointer-events: none;

  & button span{
    background: var(--bgActionColor);
    padding: 20px 12px;
    font-size: 2.5rem;
    pointer-events: painted;
  }
}

.heading{
  & h2{
    color: var(--textLightColor);

    & b{
      color: var(--bgActionColor);
    }
  }

  .line{
    width: 30%;
    height: 2px;
    background: var(--bgActionColor);
    margin: 15px 0;
    border-radius: 10px 0px;
  }
}

.lightBox{
  width: 100%;
  height: 100vh;
  background-color: #020626f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  scale: 0;
  
  .imgBox{
    width: 45%;
    height: 60%;

    & img{
      width: 100%;
      height: 100%;
      padding: 1px;
      object-fit: cover !important;
      background: #f37d16;
    }
    

    
  }
}

.border {
  border: 2px solid red;
}


@media all and (max-width:992px){
  .lightBox .imgBox{
    width: 90% !important;

  }
}